
#PYCACHE
__pychache__/
X_train.csv

csi-fingerprinting/src/__pycache__/
csi-fingerprinting/src/datasets/__pycache__/
csi-fingerprinting/src/evaluation/__pycache__/
csi-fingerprinting/src/losses/__pycache__/
csi-fingerprinting/src/models/__pycache__/
csi-fingerprinting/src/trainers/__pycache__/
UTHAR/dataloader/__pycache__/
UTHAR/models/__pycache__/

# DATA FOLDER
UTHAR/UT_HAR/

# other folders
csi-bert/
csi-fingerprinting/
Data/
mmficnngru/


#claude
ClaudeAdversarial/results/base_model/checkpoints/
ClaudeAdversarial/__pycache__/
